<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/products">Back to Products</a>
    </nav>
    <h1><%=product.name %></h1>
    <img src="<%=product.img %>" alt="<%=product.name %> Image"><br />
    Description: <%=product.description %><br />
    Price: $<%=product.price %><br />
    Qty: <span id="thisone"><%=product.qty %></span><br />
    <form action="/products/buy/<%=product._id%>?_method=PUT" method="POST">
        <% if (product.qty > 0) { %>
            <input type="number" name="qty" value="1">
            <input type="submit" value="BUY">
            <% } else if (product.qty <= 0) { %>
                <h2>Out of stock!</h2>
            <% } %>
    </form>
    <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" />
    </form>
    <a href="/products/<%=product._id %>/edit">Edit</a>
</body>
</html>